@font-face {
                            font-family: 'Gogol';
                            font-display: swap;
                            src: url("../fonts/Gogol-Regular.woff") format("woff"), url("../fonts/Gogol-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Medium.woff") format("woff"), url("../fonts/Onest-Medium.woff2") format("woff2");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'VelaSans';
                            font-display: swap;
                            src: url("../fonts/VelaSans-Medium.woff") format("woff"), url("../fonts/VelaSans-Medium.woff2") format("woff2");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Regular.woff") format("woff"), url("../fonts/Onest-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'VelaSans';
                            font-display: swap;
                            src: url("../fonts/VelaSans-Regular.woff") format("woff"), url("../fonts/VelaSans-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
