.header {
	padding: rem(14) 0 1rem 0;
	@media (min-width: $md5) {
		padding: rem(25) 0 2.75rem 0;
	}
	// .header__container
	&__container {
		max-width: rem(1360);
	}
	// .header__top
	&__top {
		justify-content: center;
		display: flex;
		align-items: center;
		gap: rem(30);
		&::before,
		&::after {
			content: '';
			flex: 1 1 auto;
			height: rem(1);
			background: #cfcfcf;
		}
	}

	// .header__logo
	&__logo {
		max-height: rem(30);
		& img {
			max-height: 100%;
		}
	}
	// .header__body
	&__body {
		border: rem(1) solid #cfcfcf;
		border-top: 0;
		display: flex;
		flex-direction: column;
		padding: 1.38rem 1.25rem rem(41);
		margin-top: rem(-15);
		@media (min-width: $md5) {
			padding: 1.87rem;
		}
	}
	// .header__menu
	&__menu {
		@media (min-width: $md5) {
			font-size: 0.75rem;
			line-height: 110%;
			text-transform: uppercase;
		}
	}
	// .header__menu-list
	&__menu-list {
		display: none;
		@media (min-width: $md5) {
			display: flex;
			flex-wrap: wrap;
			row-gap: 0.75rem;
		}
	}
	// .header__menu-item
	&__menu-item {
		flex: 0 0 50%;
		&:nth-child(even) {
			text-align: right;
		}
	}
	// .header__menu-link
	&__menu-link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
				color: $accent;
			}
		}
	}
	// .header__tagline
	&__tagline {
		text-align: center;
		color: #b41a24;
		font-family: $font-gogol;
		line-height: 110%;
		font-size: 1.5rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 4rem;
			font-size: 1.75rem;
		}
		@media (min-width: $md3) {
			margin-top: 5rem;
			font-size: 2rem;
		}
	}
	// .header__title
	&__title {
		margin-top: 0.62rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 27.75rem;
		margin-left: auto;
		margin-right: auto;
		line-height: 155%;
		font-size: 0.875rem;
		& img {
			margin-bottom: 0.94rem;
			@media (min-width: $md5) {
				display: none;
			}
		}
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		& span {
			font-family: $font-vela;
			font-size: 3.375rem;
			margin-bottom: 0.94rem;
			@media (min-width: $md5) {
				margin-bottom: 1rem;
				font-size: 4.25rem;
			}
			@media (min-width: $md3) {
				margin-bottom: 1.88rem;
				font-size: 6.25rem;
			}
			line-height: 110%;
			text-transform: uppercase;
		}
	}
	// .header__slider
	&__slider {
		min-width: 0;
		max-width: 100%;
		order: -1;
		@media (min-width: $md5) {
			margin-top: rem(60);
			order: 0;
		}
		@media (min-width: $md3) {
			margin-top: rem(138);
		}
	}
	// .header__slide
	&__slide {
		height: auto;
	}
	// .header__image
	&__image {
		border: rem(1) solid #1e1e1e;
	}
	// .header__join
	&__join {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		min-height: 100%;
		color: #1e1e1e;
		text-align: center;
		font-size: 0.875rem;
		line-height: 155%;
		background: linear-gradient(90deg, currentColor, currentColor) 0 0 / rem(10) rem(1) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 0 0 / rem(1) rem(10) no-repeat, linear-gradient(90deg, currentColor, currentColor) 100% 0 / rem(10) rem(1) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 100% 0 / rem(1) rem(10) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 100% 100% / rem(10) rem(1) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 100% 100% / rem(1) rem(10) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 0 100% / rem(10) rem(1) no-repeat,
			linear-gradient(90deg, currentColor, currentColor) 0 100% / rem(1) rem(10) no-repeat;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		&.header__join-mobile {
			margin-top: rem(29);
			flex-direction: row;
			gap: 0.63rem;
			min-height: rem(46);
			@media (min-width: $md5) {
				display: none;
			}
		}
	}
	// .header__bottom
	&__bottom {
		display: none;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 0.75rem;
			line-height: 110%;
			text-transform: uppercase;
			justify-content: space-between;
			flex-direction: row;
		}
	}
	// .header__bottom-copy
	&__bottom-copy {
	}
	// .header__bottom-icon
	&__bottom-icon {
		@media (min-width: $md3) {
			margin-right: 9.5rem;
		}
	}
	// .header__bottom-scroll
	&__bottom-scroll {
		display: flex;
		align-items: flex-end;
		gap: 0.4rem;
	}
}
